html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: enmod;
  font-style: normal;
  src: url("fonts/enmod.ttf");
}
html {
  font-family: 'Lato';
  font-weight: 300;
  color: #666;
  font-size: 12px;
  line-height: 1.75em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 12px + (21 - 12) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  html {
    font-size: 21px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: enmod;
  font-weight: 500;
  color: #111;
  clear: both;
}
h1 {
  font-size: 40.3630279321783px;
  margin-top: 0;
  line-height: 1.1em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 40.3630279321783px + (70.63529888131202 - 40.3630279321783) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h1 {
    font-size: 70.63529888131202px;
  }
}
h2 {
  font-size: 31.668189858549454px;
  margin-top: 0;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 31.668189858549454px + (55.419332252461544 - 31.668189858549454) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h2 {
    font-size: 55.419332252461544px;
  }
}
h3 {
  font-size: 24.846358172193064px;
  margin-top: 0;
  line-height: 1.3em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 24.846358172193064px + (43.48112680133786 - 24.846358172193064) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h3 {
    font-size: 43.48112680133786px;
  }
}
h4 {
  font-size: 19.494057512549652px;
  margin-top: 0;
  line-height: 1.4em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 19.494057512549652px + (34.11460064696189 - 19.494057512549652) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h4 {
    font-size: 34.11460064696189px;
  }
}
h5 {
  font-size: 15.294727527831144px;
  margin-top: 0;
  line-height: 1.5em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 15.294727527831144px + (26.765773173704503 - 15.294727527831144) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h5 {
    font-size: 26.765773173704503px;
  }
}
h6 {
  font-size: 12px;
  margin-top: 0;
  line-height: 1.6em;
  margin-bottom: 0.25em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 12px + (21 - 12) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h6 {
    font-size: 21px;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.833333333333334em;
}
@media (min-width: 1140px) {
  fieldset {
    margin-bottom: 2.083333333333333em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.229166666666667em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 12px;
  margin-bottom: 1.166666666666667em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 12px + (21 - 12) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 21px;
    margin-bottom: 0.510416666666667em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 12px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.1875em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 12px + (21 - 12) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="submit"],
  button {
    font-size: 21px;
    margin-bottom: 1.3125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.166666666666667em;
}
@media (min-width: 1140px) {
  table {
    margin-bottom: 2.041666666666667em;
  }
}
th {
  text-align: left;
  color: #111;
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  th {
    padding: 0.4375em 0.875em;
  }
}
td {
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  td {
    padding: 0.4375em 0.875em;
  }
}
html {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  html {
    font-size: 26px;
  }
}
@media only screen and (min-resolution: 3dppx), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  html {
    font-size: 28px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
h1 {
  margin-bottom: 0;
}
h3 {
  font-family: 'Lato';
}
h5 {
  margin-bottom: 1em;
}
section {
  lost-row: 7.5/10;
}
header {
  lost-row: 2/10;
}
@media only screen and (min-width: 767px) and (max-width: 1366px) {
  header h1 {
    font-size: 56px;
  }
  header h3 {
    font-size: 37px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  header h1 {
    font-size: 54px;
  }
  header h3 {
    font-size: 35px;
  }
}
footer {
  lost-row: 0.5/10;
  display: block;
  margin: 0 auto;
}
header,
footer {
  margin-bottom: 0;
  text-align: center;
}
.descript h3 {
  opacity: 0;
}
body {
  height: 100vh;
}
#frontends-item,
#games-item,
#stories-item,
#fresh-beats-item,
#contact-item {
  height: 100%;
  lost-center: 50rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-perspective: 1000;
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  #frontends-item,
  #games-item,
  #stories-item,
  #fresh-beats-item,
  #contact-item {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  #frontends-item,
  #games-item,
  #stories-item,
  #fresh-beats-item,
  #contact-item {
    lost-center: 40rem;
  }
}
@media only screen and (max-width: 767px) {
  #frontends-item,
  #games-item,
  #stories-item,
  #fresh-beats-item,
  #contact-item {
    lost-center: 90%;
  }
}
@media only screen and (min-resolution: 3dppx), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  #frontends-item,
  #games-item,
  #stories-item,
  #fresh-beats-item,
  #contact-item {
    lost-center: 90%;
  }
}
#frontends-item h4,
#games-item h4,
#stories-item h4,
#fresh-beats-item h4,
#contact-item h4 {
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  #frontends-item h4,
  #games-item h4,
  #stories-item h4,
  #fresh-beats-item h4,
  #contact-item h4 {
    font-size: 30px;
  }
}
#frontends-item a:link,
#games-item a:link,
#stories-item a:link,
#fresh-beats-item a:link,
#contact-item a:link,
#frontends-item a:visited,
#games-item a:visited,
#stories-item a:visited,
#fresh-beats-item a:visited,
#contact-item a:visited,
#frontends-item a:active,
#games-item a:active,
#stories-item a:active,
#fresh-beats-item a:active,
#contact-item a:active {
  font-size: 1em;
  color: #aaa;
  text-decoration: underline;
}
#frontends-item a:hover,
#games-item a:hover,
#stories-item a:hover,
#fresh-beats-item a:hover,
#contact-item a:hover {
  color: #ccc;
  text-decoration: underline;
}
#frontends-item {
  background: url("/img/frontends-bg.png") no-repeat center;
  background-size: contain;
  opacity: 0;
}
#frontends-item .slick-frontends {
  lost-center: 50rem;
}
@media only screen and (max-width: 767px) {
  #frontends-item .slick-frontends {
    lost-center: 40rem;
  }
}
@media only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  #frontends-item .slick-frontends {
    lost-center: 90%;
  }
}
@media only screen and (min-resolution: 3dppx), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  #frontends-item .slick-frontends {
    lost-center: 90%;
  }
}
#frontends-item .slick-frontends .info {
  lost-column: 1/2;
}
#frontends-item .slick-frontends .info h4,
#frontends-item .slick-frontends .info h5 {
  text-align: left;
  font-family: 'Lato';
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  #frontends-item .slick-frontends .info h4 {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  #frontends-item .slick-frontends .info h4 {
    font-size: 21px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  #frontends-item .slick-frontends .info h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  #frontends-item .slick-frontends .info h4 {
    font-size: 25px;
  }
}
@media only screen and (min-resolution: 3dppx), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  #frontends-item .slick-frontends .info h4 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  #frontends-item .slick-frontends .info h5 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  #frontends-item .slick-frontends .info h5 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  #frontends-item .slick-frontends .info h5 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 767px) {
  #frontends-item .slick-frontends .info h5 {
    font-size: 22px;
  }
}
@media only screen and (min-resolution: 3dppx), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  #frontends-item .slick-frontends .info h5 {
    font-size: 22px;
  }
}
#frontends-item .slick-frontends .info a:link,
#frontends-item .slick-frontends .info a:visited,
#frontends-item .slick-frontends .info a:active {
  font-size: 1em;
  color: #aaa;
  text-decoration: underline;
}
#frontends-item .slick-frontends .info a:hover {
  color: #ccc;
  text-decoration: underline;
}
#frontends-item .slick-frontends .img {
  lost-column: 1/2;
}
#frontends-item .slick-frontends .img a img {
  max-height: 350px;
  max-width: 100%;
  lost-center: 1140px;
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  #frontends-item .slick-frontends .img a img {
    max-height: 250px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  #frontends-item .slick-frontends .img a img {
    max-height: 300px;
  }
}
@media only screen and (max-width: 767px) {
  #frontends-item .slick-frontends .img a img {
    max-height: 450px;
  }
}
@media only screen and (min-resolution: 3dppx), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  #frontends-item .slick-frontends .img a img {
    max-height: 450px;
  }
}
#frontends-item .slick-frontends .img a img:hover {
  position: relative;
  z-index: 10;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#frontends-item .slick-frontends img {
  lost-center: 100%;
  max-height: 350px;
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  #frontends-item .slick-frontends img {
    max-height: 250px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  #frontends-item .slick-frontends img {
    max-height: 300px;
  }
}
@media only screen and (max-width: 767px) {
  #frontends-item .slick-frontends img {
    max-height: 450px;
  }
}
@media only screen and (min-resolution: 3dppx), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  #frontends-item .slick-frontends img {
    max-height: 450px;
  }
}
#frontends-item .slick-frontends img:hover {
  position: relative;
  z-index: 10;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#games-item,
#stories-item,
#fresh-beats-item,
#contact-item {
  display: none;
}
#games-item {
  background: url("/img/games-bg.png") no-repeat center;
  background-size: contain;
}
#stories-item {
  background: url("/img/stories-bg.png") no-repeat center;
  background-size: contain;
}
#fresh-beats-item {
  background: url("/img/fresh-beats-bg.png") no-repeat center;
  background-size: contain;
}
#fresh-beats-item iframe {
  opacity: 0.7;
  height: 450px;
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  #fresh-beats-item iframe {
    height: 340px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  #fresh-beats-item iframe {
    height: 400px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  #fresh-beats-item iframe {
    height: 300px;
  }
}
@media only screen and (max-width: 767px) {
  #fresh-beats-item iframe {
    height: 600px;
    font-size: 25px;
  }
}
@media only screen and (min-resolution: 3dppx), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  #fresh-beats-item iframe {
    height: 600px;
    font-size: 25px;
  }
}
#fresh-beats-item p {
  margin-bottom: 1em;
}
#contact-item {
  background: url("/img/contact-bg.png") no-repeat center;
  background-size: contain;
}
#contact-item h5,
#contact-item h6 {
  text-align: left;
  font-family: 'Lato';
}
hr {
  border: 0;
  background-color: #eee;
  height: 2px;
  margin: 1em 0 1em 0;
}
a:link,
a:visited,
a:active {
  font-size: 1em;
  color: #aaa;
  text-decoration: none;
}
a:hover {
  color: #ccc;
  text-decoration: none;
}
.stage-select {
  height: 100%;
  width: 100%;
  -webkit-perspective: 1000;
}
.stage-select .mainnav {
  lost-row: 9/10;
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .stage-select .mainnav h4 {
    font-size: 25px;
  }
}
.stage-select .subnav {
  opacity: 0;
  lost-row: 1/10;
  lost-center: 95%;
}
.stage-select .subnav a.subnav-item {
  height: 50px;
  color: #222;
  display: block;
  text-align: center;
  font-family: enmod;
  text-align: center;
  lost-column: 1/5;
  transition: all 0.1s linear;
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  .stage-select .subnav a.subnav-item {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .stage-select .subnav a.subnav-item {
    font-size: 0.8em;
  }
}
.stage-select .subnav a.subnav-item:hover {
  position: relative;
  z-index: 10;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

 /*# sourceMappingURL=style.css.map */